@import url('//fonts.googleapis.com/css?family=Niconne&subset=latin,latin-ext');
@import url('//fonts.googleapis.com/css?family=Slabo+27px');
.fancy, nav.roundnav ul li a {
	font-family: 'Niconne', cursive;
	font-weight: 300;
	color: #540f5e;

}

* {
	box-sizing: border-box; 
}

.lilac {
	color: #dbd9e9; 
}

html, body {
	height: 100%; 
	color: #121212;
	background-color: #fefefe;
}

body {
	font-size: 20px;
	font-family: "Slabo 27px", serif; /* helvetica, arial, sans-serif; */
	padding: 0;
	margin: 0; 
}
main {
	min-height: 320px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Niconne', cursive;
	font-weight: 300;
	color: #540f5e;
}
h1, h2, h3, h4, h5, h6, p, textarea, input, button, address {
	margin: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 1rem; 
}

h1 {
	font-size: 400%;
	text-align: center;
	display: block;
	max-width: 100%; 
}
h2 {
	font-size: 300%;
}
h3 {
	font-size: 250%;
}

.bfly {
	display: block;
	width: 128px;
	height: 128px;
	margin: 1rem;
	background: url(/img/bfly-128.png) no-repeat center; 
}

nav.roundnav ul {
	margin: 0;
	padding: 0; 
}
nav.roundnav ul li {
	display: block;
	font-size: 2em;
	text-align: center; 
}
nav.roundnav ul li a {
	display: block;
	text-decoration: none;
	color: #540f5e; 
}

@media (min-width:950px) {
	body {
		background: url(/img/top-right-twizzle.png) no-repeat top right, url(/img/top-left-twizzle.png) no-repeat top left;
		
	}
	main {
		padding: 2rem;
	}
	nav.roundnav:after {
		content: "";
		display: block;
		width: 100%;
		clear: both;
		display: table;   
	}
	nav.roundnav ul {
		margin: 0 auto;
		padding: 0;
		max-width: 950px;
		min-height: 200px;   
	}
	nav.roundnav ul li {
		float: left;
		margin: 0 1em;   
	}
	nav.roundnav ul li:nth-child(1) {
		transform: rotate(-25deg);
		-webkit-transform: rotate(-25deg);
		margin-top: 2em;
		
	}
	nav.roundnav ul li:nth-child(2) {
		transform: rotate(-10deg);
		-webkit-transform: rotate(-10deg);
		margin-top: 0.5em;
		
	}
	nav.roundnav ul li:nth-child(3) {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		
	}
	nav.roundnav ul li:nth-child(4) {
		transform: rotate(10deg);
		-webkit-transform: rotate(10deg);
		margin-top: 0.5em;
		
	}
	nav.roundnav ul li:nth-child(5) {
		transform: rotate(25deg);
		-webkit-transform: rotate(25deg);
		margin-top: 2em;
		
	}
	nav.roundnav ul li a {
		border-bottom: 5px solid transparent;   
	}
	nav.roundnav ul li a:hover {
		border-bottom: 5px double #dbd9e9;   
	}
	
}

@media (min-width: 1200px) {
	main {
		padding-left: 2rem;
		max-width: 1050px;
	}
	nav.roundnav ul {
		margin: 0 4rem;   
	}
	h1 {
		text-align: left;   
	}
	body {
		background: url(/img/top-right-flower.png) no-repeat top right;   
	}
	
}