<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{% if page.titlebar %}{{ page.titlebar }} - {% elsif page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type='text/javascript'>//<![CDATA[ 
        window.onload=function(){

        }//]]>
</script>
</head>
<body>
<h1 class="fancy">Claire`s World Of Art</h1>
<div>
    <nav class="roundnav">{% assign pages = site.pages | sort: 'priority' %}
        <ul>{% for page in pages %}{% if page.title %}
            <li><a href="{{ page.url | prepend: site.base_url }}">{{ page.title }}</a></li>
        {% endif %}{% endfor %}</ul>
    </nav></div>
<main>
{{ content }}
&nbsp;
</main>
<div class="bfly">&nbsp;</div>  
</body>
</html>

